<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!--Dispatcher will scan this base package "com.learn.controller" for mapping request like /welcome-->
    <context:component-scan base-package="com.learn.controller" />

    <!--Interceptor are use to intercept request. HandlerInterceptor has three methods.
        preHandle(): It is executed before actual handler is executed.
        postHandle(): It is executed after handler is executed.
        afterCompletion(): It is executed after the complete request is finished.
    -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <bean class="com.learn.interceptor.Interceptor"></bean>
        </mvc:interceptor>

    </mvc:interceptors>


    <!--Below bean is used for resolving views-->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

   <!-- <mvc:resources mapping="/resources/**" location="/resources/" /> -->

    <mvc:annotation-driven />

</beans>